* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Chatbot CSS */
#chatbot-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px; /* Adjust width as needed */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    display: none; /* Initially hide the chatbot container */
}

#chatbot-header {
    background-color: #f0f0f0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#chatbot-body {
    padding: 10px;
}

#chat-messages {
    max-height: 200px;
    overflow-y: auto;
}

#user-input {
    width: calc(100% - 70px);
    margin-right: 10px;
    padding: 8px; /* Adjust padding */
    border: 1px solid #ccc;
    border-radius: 3px;
}

#send-button {
    width: 60px;
    padding: 8px; /* Adjust padding */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#send-button:hover {
    background-color: #0056b3;
}

/* Icon */
#chatbot-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-image: url('chatt.png'); /* Replace with your icon path */
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
    z-index: 9999;
}

/* Header styles */
header {
    background-color: #000000;
    color: #fff;
    padding: 60px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-left: 20px;
    position: relative; /* Ensure dropdown positioning */
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

/* Dropdown styles */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%; /* Ensure dropdown width matches parent */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
