/* Chatbot CSS */
#chatbot-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    display: none; /* Initially hide the chatbot container */
}

#chatbot-header {
    background-color: #f0f0f0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#chatbot-body {
    padding: 10px;
}

#chat-messages {
    max-height: 200px;
    overflow-y: auto;
}

#user-input {
    width: calc(100% - 70px);
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#send-button {
    width: 60px;
    padding: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#send-button:hover {
    background-color: #0056b3;
}

/* Icon */
#chatbot-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-image: url('https://github.com/PradeepKalluru/FIS/blob/main/chatt.png'); /* Replace 'female-icon.png' with your icon file */
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
    z-index: 9999;
}
